@use "./variables" as *;
header {
  button {
    display: none;
  }
  nav {
    z-index: 10;
    padding: 10px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    background-color: hsl(0 0% 0% / 0.1);
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-in-out;
    ul {
      & li {
        &:hover {
          color: $color-one;
        }
        text-shadow: 0.5px 1px #000;
        a {
          color: $color-one;
        }

        a > [aria-hidden="true"] {
          display: none;
        }
      }
    }
  }
}

#primary-navigation[data-visible="true"] {
  transform: translateX(10%);
}

.header__logo {
  width: 90px;
  aspect-ratio: 1;
  border-radius: 5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
}

@media screen and (max-width: 600px) {
  header {
    button {
      display: inline-block;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: 15;
      font-size: 1.5rem;
      aspect-ratio: 1;
      background-color: transparent;
      color: $color-four;
      cursor: pointer;
    }

    nav {
      justify-content: flex-start;
      inset: 0 0 0 5%;
      transform: translateX(100%);
      ul {
        flex-direction: column;
        justify-content: center;
        padding: min(30vh, 2rem) 2rem;
        // check in utility class: flex
        // gap: var(--gap, 1rem);
        --gap: 2rem;

        & li {
          a > [aria-hidden="true"] {
            display: inline-block;
            margin-inline-end: 0.75rem;
          }
        }
      }
    }
  }

  .header__logo {
    margin: 5px;
    width: 15vw;
  }
}
