@use "../sections/variables" as *;
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

body {
  // display:flex;
  // flex-direction: column;
  min-height: 100vh;
  font-family: $font-one sans-serif;

  // background-color: aliceblue;
  // background-image: linear-gradient(to bottom, steelblue, #fff);
  // background-repeat: no-repeat;
}
